torch==2.6.0+cu126
torchvision==0.21.0+cu126
tensorboard==2.19.0
wandb==0.19.9
opencv-python==4.10.0
opencv-python-headless==4.10.0
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
tqdm==4.67.1
pandas==2.2.3
numpy==1.26.4
imageio==2.25.1
pyyaml==6.0.2
