# .gitignore


/photos/output.mp4
# 忽略模型目录
model/
film_sft/checkpoints/
film_sft/model/
film_sft/model/vimeo_interp_test/
film_sft/model/train_data/
film_sft/model/train_data_split/
film_sft/wandb/
# 可选：忽略大输出文件（例如 mp4, gif）
*.mp4
*.gif
*.pt
*.pth
*.ckpt